
<nav id="menu" class="navbar navbar-expand-lg navbar-light bg-nav ">
  <div class="col-3">
    <a class="navbar-brand" href="#">
      <img src="assets/jm.png" class="imgLogo" alt="">
    </a>
    <button class="button brk-btn" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">  
      <span class="navbar-toggler-icon "></span>
    </button>
  </div>
<div class="col-6">
  <form class="form-inline ">
    <input class="form-control texto"  type="search" size="60" placeholder="Búsqueda por productos">
    <button class=" btn btn-secondary texto" type="submit"><i class="fa fa-search"></i></button>
  <button class=" btn btn-primary ver" visibility="hidden" type="submit"><i class="fa fa-search"></i></button>

  </form>
</div>
    
<div class="col-3 ">
  <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-user"></i><span class="texto">Entra o regístrate</span> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i><span class="texto">Mi carrito</span></a>
    </li>
  </ul>
</div>


</nav>
