<div class="nav-side-menu ">  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content ">
                <li>
                  <a href="#">
                  <i class="fa fa-microchip fa-lg"></i> Componentes
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-desktop fa-lg"></i> Ordenadores <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">RFT-H1</a></li>
                    <li><a href="#">RFT-H2</a></li>
                    <li><a href="#">BTB-H1</a></li>
                    <li><a href="#">BTB-H2</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-mobile fa-lg"></i> Smartphone <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>Trendmonitoring</li>
                  <li>Alarmmonitoring</li>
                  <li>Audit-Trail</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-camera fa-lg"></i> Foto/Video/Audio <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>Alarmstatistik</li>
                  <li>Prozessfähigkeit</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-keyboard fa-lg"></i> Perifericos
                  </a>
                  </li>

                 <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-tv fa-lg"></i> Televisores <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>Sensorkonfiguration</li>
                  <li>Betriebsarten</li>
                </ul>

            </ul>
            <li data-toggle="collapse" data-target="#new" class="collapsed">
              <a href="#"><i class="fa fa-tv fa-lg"></i> Televisores <span class="arrow"></span></a>
            </li>
            <li data-toggle="collapse" data-target="#new" class="collapsed">
              <a href="#"><i class="fa fa-tv fa-lg"></i> Televisores <span class="arrow"></span></a>
            </li>
            <li data-toggle="collapse" data-target="#new" class="collapsed">
              <a href="#"><i class="fa fa-tv fa-lg"></i> Televisores <span class="arrow"></span></a>
            </li>
            <li data-toggle="collapse" data-target="#new" class="collapsed">
              <a href="#"><i class="fa fa-tv fa-lg"></i> Televisores <span class="arrow"></span></a>
            </li>
            
     </div>
</div>